* {
  border-radius: 0 !important;
}

body {
  font-family: 'Rationale', sans-serif;
  background-color: whitesmoke;
}

/*  STYLING - home.html  */
.btn-center {
  padding-bottom: 20px;
}

.carousel-control {
  display: none;
}

.carousel-indicators {
  display: none;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.filter-btn {
  z-index: 2;
}

.form-div {
  display: inline-block;
}

.glyphicon {
  font-size: 20px;
  position: relative;
  top: 5px;
}

.home-btn {
  border: none;
  margin-bottom: 1px;
  font-size: 20px;
}

.home-div {
  padding-top: 50px;
}

.input-lg {
  padding: 27px 16px;
}

.navbar {
  margin-bottom: 0px;
  min-height: 55px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  margin-top: 6px;
}

.navbar-btn {
  margin: 0px;
}

.navbar-collapse.in {
  overflow-y: visible;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
    background-color: #d7f4d7;
}

.navbar-default {
  background-color: beige;
}

.navbar-form {
  margin: 0px;
}

.nav-input {
  height: 32px;
  border:0 solid transparent;
  background: white;
}

.navbar-right button {
  padding: 13px 12px;
  background-color: #d7f4d7;
}

.panel-style {
  padding: 0px;
  height: 40px;
}

.p-contain {
  padding: 0px;
  background-color: khaki;
  height: 41px;
}

.p-default {
  border: none;
  background-color: khaki;
}

.price {
  margin-top: 0px;
}

.search {
  margin-bottom: 20px;
}

.second-nav {
  margin-top: 55px;
  min-height: 34px;
  height: 34px;
  z-index: 1;
}

#single-button {
  background-color: khaki;
  text-decoration: underline;
}

#single-button:hover {
  background: #d7f4d7;
}

.slide-image {
  width: 82%;
  margin-top: 70px;
}

.text-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumb {
  border: none;
  padding: 0px;
}

.thumb .caption {
  background-color: #d7f4d7;
}

.thumbnail-box {
  height: 220px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.thumb-img {
  padding-right: 10px;
}

.user-btn {
  border: none;
  margin-bottom: 1px;
  font-size: 20px;
  padding-bottom: 13px;
  padding-top: 13px;
  background-color: #d7f4d7;
}




/*  STYLING - login.html & register.html  */

.border {
  background-color: khaki;
}

.btn-login {
  margin-bottom: 20px;
  border: none;
  padding: 10px;
  width: 105px;
  background-color: #d7f4d7;
}

.container-login {
  margin-top: 50px;
}

.form-btn-group {
  margin-bottom: 0px;
}

.form-login {
  border:0 solid transparent;
  background: white;
  height: 48px;
  font-size: 20px;
}

.header-font {
  color: #AA0000;
  font-size: 40px;
  text-align: center;
}

.header-login {
  margin-top: 20px;
}

.inputs {
  background-color: beige;
  padding: 40px 25px 20px 25px;
  margin-bottom: 20px;
}

.page-header {
  border-bottom: 2px solid lightgrey;
}

.anchor {
  margin-bottom: 20px;
}

.reg-center {
  text-align: center;
}

.submit-btn {
  margin-right: 15px;
}
