* {
  border-radius: 0 !important;
}

body {
  padding-top: 50px;
  font-family: 'Rationale', sans-serif;
}

.btn {
  border: none;
  margin-bottom: 1px;
  font-size: 20px;
}



.btn-center {
  padding-bottom: 20px;
}

.carousel-control {
  display: none;
}

.carousel-indicators {
  display: none;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.filter-btn {
  z-index: 2;
}

.form-control {
  height: 32px;
}

.glyphicon {
  font-size: 20px;
}

.input-lg {
  padding: 27px 16px;
}

.navbar {
  margin-bottom: 0px;
  min-height: 55px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  margin-top: 6px;
}

.navbar-btn {
  margin: 0px;
}

.navbar-default {
  background-color: beige;
}

.navbar-form {
  margin: 0px;
}

.navbar-right button {
  padding: 13px 12px;
  background-color: #d7f4d7;
}

.panel-body {
  padding: 0px;
  height: 40px;
}

.panel-container {
  padding: 0px;
  background-color: khaki;
  height: 41px;
}

.panel-default {
  border: none;
  background-color: khaki;
}

.price {
  margin-top: 0px;
}

.search {
  margin-bottom: 20px;
}

.second-nav {
  margin-top: 55px;
  min-height: 34px;
  height: 34px;
  z-index: 1;
}

#single-button {
  background-color: khaki;
  text-decoration: underline;
}

#single-button:hover {
  background: gainsboro;
}

.slide-image {
  width: 82%;
  margin-top: 70px;
}

.text-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail {
  border: none;
}

.thumbnail .caption {
  background-color: #d7f4d7;
}

.thumbnailBox {
  background-color: whitesmoke;
  height: 220px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.thumb-img {
  padding-right: 10px;
}
