<div class="container">
  <div class="row">

    <!-- <div class="col-md-3" ng-controller="CategoryCTRL as cat">
      <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="{{ c.name }}" ng-repeat="c in cat.firstList" ng-click="cat.getSub(c.id)">
          <div class="panel-default" ng-repeat="s in cat.secondList"><a href="#/">{{ s.name }}</a></div>
        </div>
      </uib-accordion>
    </div> -->



    <div class="col-md-3" ng-controller="CategoryCTRL as cat">
      <uib-accordion>
        <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="c in cat.firstList" ng-click="cat.getSub(c.id)">
          <uib-accordion-heading>
            {{ c.name }}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>
          <div class="panel-default" ng-repeat="s in cat.secondList">
            <a href="#/">{{ s.name }}</a>
          </div>
        </div>
      </uib-accordion>
    </div>








    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src=" http://fillmurray.com/242/200" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src=" http://fillmurray.com/242/200" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src=" http://fillmurray.com/242/200" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
