<div class="container">
  <div class="row">

    <!-- <div class="col-md-3" ng-controller="CategoryCTRL as cat">
      <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="{{ c.name }}" ng-repeat="c in cat.firstList" ng-click="cat.getSub(c.id)">
          <div class="panel-default" ng-repeat="s in cat.secondList"><a href="#/">{{ s.name }}</a></div>
        </div>
      </uib-accordion>
    </div> -->



    <div class="col-md-3" ng-controller="CategoryCTRL as cat">
      <uib-accordion>
        <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="c in cat.firstList" ng-click="cat.getSub(c.id)">
          <uib-accordion-heading>
            {{ c.name }}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>
          <div class="panel-default" ng-repeat="s in cat.secondList">
            <a href="#/">{{ s.name }}</a>
          </div>
        </div>
      </uib-accordion>
    </div>


    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3" ng-repeat="p in cat.products">
          <div class="thumbnail">
            <div class="thumbnailBox">
              <img src="{{ p.image.sizes.Large.url }}" alt="...">
            </div>
            <div class="caption">
              <p class="text-wrap">{{ p.brandedName }}</p>
              <h4 class="text-center"><em>{{ p.priceLabel }}</em></h4>
              <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
