<div class="container">
  <div class="row" ng-controller="CategoryCTRL as cat">

    <!-- Side Nav Accordian -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 col-centered">
          <div class="btn-group btn-group-s btn-group-justified btn-center">
            <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'" ng-click="cat.sortBy('-price')">$ High</label>
            <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'" ng-click="cat.sortBy('price')">$ Low</label>
            <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'" ng-click="cat.sortBy(null)">Popular</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="c in cat.firstList">
              <uib-accordion-heading>
                <a href="" ng-click="cat.getSub(c.id)">
                  {{ c.name }}
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </a>
              </uib-accordion-heading>
              <div class="panel-default" ng-repeat="s in cat.secondList">
                <a href="" ng-click="cat.getSubProd(s.id)">
                  {{ s.name }}
                </a>
              </div>
            </div>
          </uib-accordion>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="cat.search(cat.keyword)"></span></button>
            </span>
            <input type="text" ng-model="cat.keyword" class="form-control" placeholder="Search for...">
          </div>
        </div>
      </div>
    </div>

    <!-- Display Products -->
    <div class="col-md-9">
      <div class="row">

        <!-- Product thumbnail -->
        <div class="col-md-3" ng-repeat="p in cat.productsList | orderBy: cat.orderProp">
          <div class="thumbnail">
            <div class="thumbnailBox">
              <img src="{{ p.image.sizes.Large.url }}" alt="...">
            </div>
            <div class="caption">
              <p class="text-wrap">{{ p.brandedName }}</p>
              <h4 class="text-center">
                <em>{{ p.priceLabel }}</em>
              </h4>
              <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
            </div>
          </div>
        </div>
      </div>
      <div class"row">
        <div class="col-md-2 col-centered">
          <p class="text-center">
            <a href="" ng-click="cat.loadMore(cat.categoryId)">Load More</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
