<div class="container">

  <!-- Top Nav Bar -->
  <header ng-controller="CategoryCTRL as cat" class="home-div">
    <nav class="navbar navbar-default navbar-fixed-top first-nav" role="navigation">
      <div class="container">

        <!-- LOGO -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#/">
            <img class="img-responsive" src="images/stayup.png" alt="" />
          </a>
        </div>
      </div>
    </nav>
  </header>

  <!-- PRODUCT HEADER -->
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>My Look</h1>
      </div>
    </div>
  </div>

  <!-- DISPLAY PRODUCTS -->
  <div class="row">
    <div class="col-md-12">

      <!-- PRODUCT THUMBNAILS -->
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="m in look.myProducts">
          <div class="thumbnail thumb">
            <div class="thumbnail-box">
              <a href="" ng-click="look.removeProduct(m.id)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </a>
              <img class="thumb-img center-block img-responsive" src="{{ m.image }}" alt="...">
            </div>
            <div class="caption">
              <h4 class="text-wrap text-center">{{ m.brand }}</h4>
              <h3 class="text-center price">
                <em>{{ m.price }}</em>
              </h3>
              <!-- <p><a href="" ng-click="look.removeProduct(m.id)" class="btn btn-default" role="button">Remove</a></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
